<!-- 


{% block title %}
  
{% endblock title %}


  <div>
    <h1>Attendance & Grading System</h1>

    <form id="auth-form" action="{{ url_for('student_login') }}" method="POST">
      <input 
       type="text" 
       lecturerid="lecturerid"
       placeholder="lecturerid">

      <input type="text" 
       name="password"
       placeholder="password" 
       >

      <input type="button" 
      value="Login As Student " 
      onclick="setActionForm('login')"
      >

      <input type="button"
       value="Register As Student" 
       onclick="setActionForm('register')"
      >
    </form>
   

  <script>
    // check which button was clicked
    function setActionForm(action) {
      let form = document.getElementById("auth-form")

      if (action === 'login') {
        form.action = '{{ url_for("student_login")}}'
        form.method = 'POST'
        form.submit();
      } else if (action === 'register') {
        form.action = '{{ url_for("student_login")}}'
        form.method = 'POST'
        form.submit();
      }
    }
  </script>
 -->



<!-- 





  <div>
    <h1>Attendance & Grading System</h1>

    <form id="auth-form" action="{{ url_for('lecturer_login') }}" method="POST">
      <input 
       type="text" 
       name="lecturerid"
       placeholder="lecturerid">

      <input type="text" 
       name="password"
       placeholder="password" 
       >

      <input type="button" 
      value="Login As Lecturer" 
      onclick="setActionForm('login')"
      >

      <input type="button"
       value="Register As Lecturer" 
       onclick="setActionForm('register')"
      >
      {% if error %}
        <p style="color:red; font-size: 20px;">{{ error }}</p>
      {% endif %}

      {% if missing_fields %}
          {% for field in missing_fields %}
            <div style="color:red; font-size: 20px;" >{{ error }}</div>
          {% endfor %}
      {% endif %}
    </form>
   

  <script>
    // check which button was clicked
    function setActionForm(action) {
      let form = document.getElementById("auth-form")

      if (action === 'login') {
        form.action = '{{ url_for("lecturer_login")}}'
        form.method = 'POST'
        form.submit();
      } else if (action === 'register') {
        form.action = '{{ url_for("lecturer_register")}}'
        form.method = 'POST'
        form.submit();
      }
    }
  </script>
 -->

 {% extends 'base.html' %}

{% block content %}

<div class="container" id="container">
	<div class="form-container sign-up-container">
		<form id="auth-form" action="{{ url_for('student_login') }}" method="POST">
      <!-- <h1>Create Account</h1> -->
			<div class="social-container">
				<!-- <a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
				<a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
				<a href="#" class="social"><i class="fab fa-linkedin-in"></i></a> -->
        <h1>Create Account</h1>
			</div>
			<span>use your student id for registration</span>
			<input type="text" placeholder="Name" />
			<input type="email" placeholder="Email" />
			<input type="password" placeholder="Password" />
			<button onclick="setActionForm('register')">Sign Up</button>
		</form>
	</div>
	<div class="form-container sign-in-container">
		<form action="#">
			<!-- <h1>Sign in</h1> -->
			<div class="social-container">
				<!-- <a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
				<a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
				<a href="#" class="social"><i class="fab fa-linkedin-in"></i></a> -->
        <h1>Sign in</h1>
			</div>
			<span>use your account</span>
			<input type="email" placeholder="Email" />
			<input type="password" placeholder="Password" />
			<a href="#">Forgot your password?</a>
			<button onclick="setActionForm('login')">SIGN IN</button>
		</form>
	</div>
	<div class="overlay-container">
		<div class="overlay">
			<div class="overlay-panel overlay-left">
				<h1>Student Login</h1>
        <p>Enter your Student ID and Password to sign in and continue.</p>
				<button class="ghost" id="signIn">Sign In</button>
			</div>
			<div class="overlay-panel overlay-right">
				<h1>Student Signup</h1>
        <p>Enter your Student ID and Password to sign up and continue.</p>
				<button class="ghost" id="signUp">Sign Up</button>
			</div>
		</div>
	</div>
</div>

<footer>
	<footer class="text-center mt-4">
    <p>&copy; 2025 <i class="fa fa-heart"></i> by
      <a target="_blank" href="https://florin-pop.com">Naomi Phiri</a>. All rights reserved.</p>
  </footer>
  
</footer>

<script src="{{ url_for('static', filename='js/index.js') }}">
</script>

<script>
  // check which button was clicked
  function setActionForm(action) {
    let form = document.getElementById("auth-form")

    if (action === 'login') {
      form.action = '{{ url_for("student_login")}}'
      form.method = 'POST'
      form.submit();
    } else if (action === 'register') {
      form.action = '{{ url_for("student_login")}}'
      form.method = 'POST'
      form.submit();
    }
  }
</script>
  
{% endblock content %}